@model IEnumerable<hotel.Models.ViewModels.RaservationsViewModel>
@{
    ViewBag.Title = "Index";
    int id = 1;
}

<h2>لیست رزرو ها</h2><br />
<p>
    @Html.ActionLink("درج ", "Create", null, new { @class = "btn btn-success btn-xs" })
</p>

<table class="table">
    <tr>
        <th>
            ردیف
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InnerDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OuterDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CountOfUser)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsActive)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RoomsId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserId)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @id
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InnerDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OuterDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CountOfUser)
            </td>
            <td>
                @if (item.IsActive == true)
                {
                    <span>
                        فعال
                    </span>
                }
                else
                {
                    <spamn>
                        غیر فعال
                    </spamn>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoomsId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>
            <td>
                @Html.ActionLink("ویرایش", "Edit", new { id = item.RaservationId }, new { @class = "btn btn-warning btn-xs" }) |
                @Html.ActionLink("جزئیات", "Details", new { id = item.RaservationId }, new { @class = "btn btn-info btn-xs" }) |
                @Html.ActionLink("حذف", "Delete", new { id = item.RaservationId }, new { @class = "btn btn-danger btn-xs" })
            </td>
        </tr>
        id += 1;
    }

</table>
